/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}
header {
  background-color: #964caf;
  color: white;
  padding: 10px 0;
}
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  margin: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 5px;
}
button:hover {
  background-color: #005f73;
}
#error {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #ddd;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#progress-container {
  width: 300px; /* Anpassen der Breite des Containers */
  background-color: #ddd;
  border-radius: 5px;
  margin: 20px auto;
}

#progress-bar {
  height: 20px;
  background-color: #4CAF50;
  border-radius: 5px;
  line-height: 20px; /* Zentrieren des Texts vertikal */
  color: white;
}

#download-rate {
  text-align: center;
  margin-top: 10px;
}

.container {
  text-align: center;
}